.final {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.final .div {
  background-color: #ffffff;
  width: 1440px;
  height: 3063px;
  position: relative;
}

.final .hero-section {
  position: absolute;
  width: 1440px;
  height: 688px;
  top: 0;
  left: 0;
  background-color: #dbe9ec;
}

.final .overlap-group {
  height: 688px;
  background-image: url(https://c.animaapp.com/nXJQ93xl/img/intro-bg1--large-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.final .frame {
  display: flex;
  flex-direction: column;
  width: 726px;
  align-items: flex-start;
  gap: 32px;
  padding: 40px 40px 40px 100px;
  position: relative;
  top: 123px;
  background-color: #ffffffb2;
  border-radius: 0px 24px 24px 0px;
  backdrop-filter: blur(10px) brightness(100%);
  -webkit-backdrop-filter: blur(10px) brightness(100%);
}

.final .frame-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.final .foruntry-logo {
  position: relative;
  width: 72px;
  height: 72px;
  object-fit: cover;
}

.final .skin-clinic {
  position: relative;
  flex: 0 0 auto;
}

.final .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.final .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.final .dermatology-skin-c {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: 'Poppins', Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
}

.final .text-wrapper {
  position: relative;
  align-self: stretch;
  font-family: 'Poppins', Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 52px;
  letter-spacing: 0;
  line-height: 65px;
}

.final .treating-all-skin-co {
  position: relative;
  align-self: stretch;
  height: 52px;
  font-family: 'Poppins', Helvetica;
  font-weight: 500;
  color: var(--font-color);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.final .frame-5 {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
  gap: 56px;
  padding: 80px 120px;
  position: absolute;
  top: 688px;
  left: 0;
  background-color: #fafafa;
}

.final .frame-6 {
  display: flex;
  flex-direction: column;
  width: 559px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.final .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: 'Poppins', Helvetica;
  font-weight: 700;
  color: var(--font-color);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.final .p {
  position: relative;
  align-self: stretch;
  height: 28.71px;
  font-family: 'Poppins', Helvetica;
  font-weight: 400;
  color: var(--font-color1);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.final .frame-7 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.final .frame-8 {
  display: flex;
  flex-direction: column;
  width: 381px;
  align-items: center;
  gap: 30px;
  position: relative;
}

.final .img {
  position: relative;
  width: 381px;
  height: 480px;
}

.final .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: 'Poppins', Helvetica;
  font-weight: 600;
  color: var(--font-color);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.final .group {
  position: relative;
  width: 73px;
  height: 36px;
}

.final .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Poppins', Helvetica;
  font-weight: 600;
  color: var(--font-color);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.final .div-wrapper {
  position: relative;
  width: 114px;
  height: 36px;
}

.final .frame-9 {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
  gap: 56px;
  padding: 80px 120px;
  position: absolute;
  top: 1527px;
  left: 0;
}

.final .title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: 'Poppins', Helvetica;
  font-weight: 600;
  color: var(--color-gray-2);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.final .title-2 {
  position: relative;
  width: fit-content;
  font-family: 'Poppins', Helvetica;
  font-weight: 700;
  color: var(--color-gray-1);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
}

.final .share {
  position: relative;
  width: 1799px;
  height: 721px;
  margin-left: -299.5px;
  margin-right: -299.5px;
}

.final .images {
  position: absolute;
  width: 1440px;
  height: 721px;
  top: 0;
  left: 180px;
}

.final .frame-10 {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  gap: 42px;
  padding: 64px 80px 32px;
  position: absolute;
  top: 2542px;
  left: 0;
  background-color: #fafafa;
}

.final .frame-11 {
  display: flex;
  align-items: center;
  gap: 193px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.final .frame-12 {
  display: flex;
  flex-direction: column;
  width: 352px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.final .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: 'Poppins', Helvetica;
  font-weight: 500;
  color: var(--font-color);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.final .frame-13 {
  display: flex;
  flex-direction: column;
  width: 735px;
  align-items: flex-start;
  gap: 26px;
  padding: 64px 80px;
  position: relative;
  border-radius: 24px;
}

.final .group-2 {
  position: relative;
  width: 1199.01px;
  height: 59px;
}

.final .line {
  position: absolute;
  width: 1197px;
  height: 1px;
  top: -1px;
  left: 0;
  object-fit: cover;
}

.final .text-wrapper-6 {
  position: absolute;
  width: 890px;
  top: 35px;
  left: 2px;
  font-family: 'Poppins', Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
